<!DOCTYPE html>
<html>

<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div class="todo-head">
        <h2>To-Do Application</h2>
    </div>
    <div class="todo-container">

        <div class="todo">
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="content">
                <button type="submit"><span class="fas fa-plus" style="font-size:20px ;">Add</span></button>
            </form>
            <ul class="todo-list">
                <% todoTasks.forEach(details=> { %>
                    <li class="todo-list-item">
                        <div class="todo-list-item-name">
                            <%= details.content %> 
                            <div class="todo-time-stamp">Time Stamp:<%= details.date %></div>
                        </div>

                        <a href="/edit/<%= details._id %>" class="edit">
                            <i class="fas fa-edit">Edit</i>

                        </a>
                        <a href="/remove/<%= details._id %>" class="delete">
                            <i class="fa fa-close">Del</i>

                        </a>

                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
</body>

</html>